body {
    font-family: Arial;
    text-align: center;
    margin: 0;
    background-color: aqua;
}

nav {
    background: black;
    padding: 10px;
}

nav a {
    color: rgb(244, 239, 239);
    margin: 10px;
    text-decoration: none;
}

header {
    background: #222;
    color: white;
    padding: 30px;
}

section {
    padding: 20px;
    background-color: rgb(54, 219, 245);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#error {
    color: red;
    font-weight: bold;
}

footer {
    background: black;
    color: white;
    padding: 10px;
}